.hidden{
    filter: brightness(0);
}

.show{
    filter: brightness(1);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pokemon-square {
    width: 600px;
    height: 400px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.pokemon-image {
    width: 20px; 
    height: 100px;
    object-fit: cover;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pokemon-button {
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}
