.hidden{
    filter: brightness(0);
}

.show{
    filter: brightness(1);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pokemon-square {
    width: 600px;
    height: 400px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



